<!DOCTYPE html>{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as LANGUAGES %} {#butinai reikia irasyti i18n, kad verstu i kita kalba#}
<html lang="{{ LANGUAGE_CODE }}"> {#pasirenkama kalba#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TASKer{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {#linkas, kad veiktu style.css failas#}
</head>
<body>
    <header>
        <span class="logo">TASKer</span>
        <ul class="nav">
            <li><a href="{% url 'index' %}">{% trans "dashboard"|capfirst %}</a></li> {#trans - nurodo kad versime si zodi, capfirst - nurodo kad zodis bus is didziosios raides#}
            <li><a href="{% url 'task_list' %}">{% trans "tasks"|capfirst %}</a></li>
        </ul>
        <span class="spacer"></span>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select class="language" name="language" onchange="this.form.submit();">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang.1 }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {% block footer  %}{% endblock footer  %}
        <p>&copy; 2024 PTU20
            <a style="float:right;" href="https://discord.gg/ywbbZPcY">{% trans "community on discord" %}</a>
            <a style="float:right;" href="https://facebook.com/" target="_blank"><img class="icon" src="{% static "img/icons8_facebook.png" %}"></a> {# .png Dashboard puslapyje footeryje #}
        </p>
    </footer>
</body>
</html>


{% comment %} command /    - komentarai {% endcomment %}
{#eilutes komentarai#}
{% comment %} Django reikia padaryti disable trumpam, nes irasius ! ir ENTER gausime paruosta standartini sablona, tada vel ijungiam Django {% endcomment %}
{% comment %} html yra dokumentas o ne programa {% endcomment %}
{% comment %} sis dokumentas bus naudojamas visur kaip sablonas {% endcomment %}
{% comment %} savo base layout naudosime FLEX sistema, t.y. boxais kurie juda is kaires i desine ir is virsaus i apacia {% endcomment %}
