{% extends "base.html" %}{% load static i18n %} {#butinai reikia irasyti i18n, kad verstu i kita kalba#}
{% block content %}
<h1>{% trans "dashboard"|capfirst %}</h1> 
<p>{% trans "users"|capfirst %}: {{ users_count }}</p>
<p>{% trans "projects"|capfirst %}: {{ projects_count }}</p>
<p>{% trans "tasks"|capfirst %}: {{ tasks_count }}</p>
{% comment %} <img src="{% static "img/mona_lisa.jpg" %}"> {% endcomment %} {# .jpg Dashboard puslapyje #}
<div class="mona_lisa"> {# padarys .jpg background #}
    <div class="fog"> {# padarys .jpg permatoma #}
        da Vinci {# naujas tekstas #}
    </div>
</div>
{% endblock content %}


{% comment %} paveldes sablona "base" {% endcomment %}

{#komentaras kuri galima rasyti toje pacioje eiluteje#}