{% extends "base.html" %}{% load i18n %}
{% block title %}{{ project.name }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ project.name }}</h1>
{% if project.owner == request.user or request.user.is_superuser %} {# jeigu ESI projekto owneris arba admin, tada gaus du mygtukus apacioje: edit ir delete #}
<p> {# jeigu NESI projekto owneris, tada NEgaus dvieju mygtuku apacioje: edit ir delete #}
    <a class="button" href="{% url "project_update" project.pk %}">{% trans "edit"|capfirst %}</a>
    <a class="button" href="{% url "project_delete" project.pk %}">{% trans "delete"|capfirst %}</a>
</p>
{% endif %}
<p>{% trans "owner" %}: <a href="{% url "user_detail" project.owner.username %}">{{ project.owner }}</a></p>
<p>{% trans "tasks" %}: {{ project.tasks.count }}</p>
{% endblock content %}


{#% url "user_detail" project.owner.username %#} {# reikia atkomentuoti sia eilute veliau - PADARYTA#}
{# norint kad veiktu useris-project_details.html reikia pasidaryti 05 tema - PADARYTA#}